
#bg-video { 
  position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
}      
 .image-container {
  display:grid; 
  grid-template-columns: repeat(2,1fr);
  gap:calc(20px);
  border-radius: 10px;
  justify-content: left;
  margin:50px;
  border: 1px ;
  padding: auto;
  grid-template-columns: auto;
}

.image-container img:hover {
  transform: scale(1.05);
}
.discription {
  text-align: left;
  margin-top: 10px;
  height: auto;
  color: white;

}
.exampleColorInput {
  padding: 12px 25px;
    width: 400px;
    border-radius: 25px;
    border: 2px solid rgba(255,255,255,0.7);
    background-color: rgba(0,0,0,0.4);
    color: white;
    font-size: 16px;
    outline: none;
    
    transition: all 0.3s ease;
    text-align: center;


}