
#bg-video { 
  position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
}      
 .image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 20px;
    margin: 40px auto;
    max-width: 900px; 
}

.image-container img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    position: relative;
    z-index: 1;          
    margin-top: 100px;  
}

.image-container img:hover {
    transform: scale(1.07);
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.image-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 20px;
    margin: 40px auto;
    max-width: 900px; 
    position: relative;
    
}

.image-container2 img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    position: relative;
}

.image-container2 img:hover {
    transform: scale(1.07);
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}
.image-container3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 20px;
    margin: 40px auto;
    max-width: 900px; 
    position: relative;
   
}

.image-container3 img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.image-container3 img:hover {
    transform: scale(1.07);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.5);
}


.exampleColorInput {
  padding: 12px 25px;
    width: 400px;
    border-radius: 25px;
    border: 2px solid rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.4);
    color: white;
    font-size: 16px;
    outline: none;
    
    transition: all 0.3s ease;
    text-align: center;
    position: relative;
    z-index: 1;          /* video eka yatin enna */
    margin-top: 100px;  


}